* {
    margin: 0;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 2000px;
}
header {
    background-color: #53749e;
}
.logo {
    text-align: center;
    padding-top: 50px;
}
.name {
    text-align: center;
    padding: 50px 0 25px 0;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Fustat", sans-serif;
}
.header-skills-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
}
.header-skills-container > div {
    width: 300px;
    font-family: "Fustat", sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
.header-nav-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 115px 0 190px 0;
}
.header-nav-container > div {
    width: 150px;
    text-align: center;
}
.header-nav-container > div a {
    font-family: "Fustat", sans-serif;
    color: white;
    font-size: 27px;
    font-weight: 100;
    text-decoration: underline;
}
.about-container {
    padding: 50px 0px;
}
.about-header {
    text-align: center;
    color: #53749e;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
}
.about {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    align-content: center;
}
.about > div {
    width: 400px;
}
.about-text {
    color: #272727;
    line-height: 30px;
    font-size: 18px;
    text-align: left;
    padding-top: 100px;
}
.skills-container {
    background-color: #dbe2ea;
}
.skills-header {
    text-align: center;
    color: #53749e;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 80px;
}
.skills-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding-bottom: 80px;
    margin:0 10%;
}
.skills-boxes > div {
    width: 150px;
    height: 150px;
    background-color: white;
    padding: 30px;
    margin: 10px 10px;
    align-items: center;
    text-align: center;
    box-shadow: 1px 1px 3px #888888;
}
.skills-text {
    color: #272727;
    font-weight: bold;
    font-size: 17px;
}
.projects-header {
    text-align: center;
    color: #53749e;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 60px;
    padding-top: 60px;
}
.projects-container {
    padding-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.projects-img {
    width: 414px;
    align-items: center;
    text-align: center;
}
.projects-text {
    padding-left: 60px;
    width: 350px;
    justify-content: left;
}
.projects-title {
    color: #272727;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    border-bottom: 4px solid #53749e;
    padding-bottom: 15px;
}
.projects-body {
    padding-top: 15px;
}
.projects-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 30px;
}
.projects-row > div {

}
.projects-skill {
    color: #272727;
    font-size: 20px;
    text-align: left;
}
.button-open {
    background-color: #50653a;
    border-radius: 20px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 17px;
}
.button-code {
    border: 3px solid #50653a;
    border-radius: 20px;
    padding: 10px 25px;
    text-decoration: none;
    font-weight: bold;
    color: #50653a;
    font-size: 17px;
}
footer {
    background-color: #53749e;
}
.contact-header {
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 40px;
    padding-top: 60px;
}
.contact-email {
    text-align: center;
    padding-bottom: 30px;
}
.contact-email a {
    color: white;
    text-decoration: underline;
    font-size: 22px;
    text-align: center;
}
.icons-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}
.icons-container > div {
    width: 90px;
    text-align: center;
}
@media only screen and (max-width: 920px) {
    .header-nav-container {
        padding-bottom: 100px;
    }
    .about {
        gap: 50px;
    }
    .about > div {
        width: 300px;
    }
    .about-img {
        width: 100%;
        height: auto;
    }
    .about-text {
        padding-top: 0px;
    }
    .skills-boxes {
        margin:0 5%;
    }
}
@media only screen and (max-width: 830px) {
    .projects-text {
        padding-top: 30px;
        width: 300px;
        margin-right: 70px;
    }
    .skills-boxes {
        margin:0;
    }
}
@media only screen and (max-width: 580px) {
    .name {
        font-size: 30px;
        font-weight: bold;
    }
    .header-nav-container {
        padding: 50px 0 50px 0;
    }
    .projects-img {
        width: 320px;
    }
    .projects-text {
        width: 320px;
        margin-right: 40px;
    }
}
@media only screen and (max-width: 400px) {

}